
@{
    ViewBag.Title = "Consumption";
    Layout = "~/Views/Shared/LeftPartPage.cshtml";
}

@section TitleName{
    <li>电子储存卡管理</li>
    <li class="active"><a href="../ElectronicCard/Index">添加新类型卡</a></li>
    <li class="active"><a href="../ElectronicCard/ElectronicCardView">查看该类型已生成的卡片</a></li>
    <li class="active">卡消费记录</li>
}


@section js{
    <script src="~/Content/js/Shade.js"></script>
    <script src="~/Content/js/MemberCard/Index.js"></script>
}

@section css{
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTable.css" rel="stylesheet" />
    <link href="~/Content/css/Shade.css" rel="stylesheet" />

}

<input type="hidden" id="Hidden_ElectronicId" value="@ViewBag.ElectronicId" />
<section>
    <div class="row">
        <div style="width:100%">
            <div class="form-group col-lg-12">
                <div class="col-lg-2 pull-right">
                    <button id="search" class="btn btn-warning pull-right" type="button"><i class="fa fa-search"></i> 搜 索</button>
                    <input type="text" placeholder="请输入搜索内容" id="search-Input" class="form-control pull-right Search-Input">
                </div>
                <div class="col-lg-2 pull-left">
                </div>
            </div>
            <table id="User" class="col-lg-12 table table-striped table-bordered" data-page-length="10" data-order="[[0,&quot;asc&quot;]]" width="100%">
                <thead>
                    <tr>
                        <th data-data="ElectronicId" data-visible="false">电子储值卡类型Id</th>
                        <th data-orderable="false">
                            <div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light">
                                <input type="checkbox" id="checkbox-all" />
                                <label for="checkbox-all"></label>
                            </div>
                        </th>
                        <th data-data="UserNickName">用户名</th>
                        <th data-data="ShopName">店铺名称</th>
                        <th data-data="ShopMoney">消费金额</th>
                        <th data-data="ShopTime">消费时间</th>
                        <th data-data="ShopType">支付方式</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        var userTable = $('#User').dataTable({
            "ajax": {
                "url": "@Url.Action("Get_Consumption_List", "ElectronicCardAjax")",
                "data": function (data) {
                    //添加额外的参数传给服务器
                    data.SearchKey = $("#search-Input").val();
                    data.ElectronicId = $("#Hidden_ElectronicId").val();
                    return JSON.stringify(data);
                }
            },
            "bLengthChange": false,
            "iDisplayLength": 5,
            "columnDefs": [
            {
                "targets": 1,
                "width": "15px",
                render: function (data, type, full, meta) {
                    var num = meta.row + 1;
                    return '<div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light"><input type="checkbox" id="checkbox-all-' + num + '" value="' + num + '" /><label for="checkbox-all-' + num + '"></label></div>';
                }
            },
                 {
                    "targets": -2,
                    "width": "140px",
            render: function (data, type, full, meta) {
                var str = FormatDate(data);
                return str;
            }
        
            }]
        });
        //查询按钮
        $("#search").click(function () {
            userTable.api().ajax.reload();
        });
      
    });

</script>
<script>
    $(function () {
        $("#btn_file").click(function () {
            $("#files").trigger("click");
        });
    });

</script>
<script>
    function FormatDate(data) {
        var dateStr = data.substring(6, data.length - 2);
        var oDate = new Date(parseInt(dateStr));
        oYear = oDate.getFullYear();
        oMonth = oDate.getMonth() + 1;
        oDay = oDate.getDate();
        oHour = oDate.getHours();
        oMin = oDate.getMinutes();
        oSec = oDate.getSeconds();
        var str = oYear + "-" + oMonth + "-" + oDay + "  " + oHour + ":" + oMin + ":" + oSec;
        return str;
    }
</script>



