
@{
    ViewBag.Title = "ElectronicCardView";
    Layout = "~/Views/Shared/LeftPartPage.cshtml";
}

@section TitleName{
    <li>电子储值卡管理</li>
    <li class="active"><a href="../MemberManage/Index">添加新类型卡</a></li>
    <li class="active">查看该类型已生成的卡片</li>
}


@section js{
    <script src="~/Content/js/Shade.js"></script>
    <script src="~/Content/js/MemberCard/Index.js"></script>
}

@section css{
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTable.css" rel="stylesheet" />
    <link href="~/Content/css/Shade.css" rel="stylesheet" />

}

<input type="hidden" id="Hidden_ElectronicTypeId" value="@ViewBag.ElectronicTypeId" />
<section>
    <div class="row">
        <div style="width:100%">
            <div class="form-group col-lg-12">
                <div class="col-lg-2 pull-right">
                    <button id="search" class="btn btn-warning pull-right" type="button"><i class="fa fa-search"></i> 搜 索</button>
                    <input type="text" placeholder="请输入搜索内容" id="search-Input" class="form-control pull-right Search-Input">
                </div>
                <div class="col-lg-2 pull-left">
                </div>
            </div>
            <table id="ElectronicCard" class="col-lg-12 table table-striped table-bordered" data-page-length="10" data-order="[[0,&quot;asc&quot;]]" width="100%">
                <thead>
                    <tr>
                        <th data-data="ElectronicId" data-visible="false">电子储值卡Id</th>
                        <th data-orderable="false">
                            <div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light">
                                <input type="checkbox" id="checkbox-all" />
                                <label for="checkbox-all"></label>
                            </div>
                        </th>
                        <th data-data="ElectronicTypeId">卡类型</th>
                        <th data-data="UserNickName">绑定人</th>
                        <th data-data="CaerMoney">卡余额</th>
                        <th data-data="IsUser">是否使用</th>
                        <th data-data="ElectronicTypeId" style="border-left:none;border-right:none;text-align:center" data-orderable="false">操作</th>
                        <th data-data="ElectronicTypeId" style="border-left:none;" data-orderable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        var userTable = $('#ElectronicCard').dataTable({
            "ajax": {
                "url": "@Url.Action("Get_Card_List", "ElectronicCardAjax")",
                "data": function (data) {
                    //添加额外的参数传给服务器
                    data.SearchKey = $("#search-Input").val();
                    data.ElectronicTypeId = $("#Hidden_ElectronicTypeId").val();
                    return JSON.stringify(data);
                }
            },
            "columnDefs": [
            {
                "targets": 1,
                "width": "15px",
                render: function (data, type, full, meta) {
                    var num = meta.row + 1;
                    return '<div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light"><input type="checkbox" id="checkbox-all-' + num + '" value="' + num + '" /><label for="checkbox-all-' + num + '"></label></div>';
                }
            },
            {
                "targets": -1,
                "width": "86px",
                render: function (data, type, full, meta) {
                    return '<a class="btn btn-sm btn-info" href="/MemberManage/Coupon?ElectronicTypeId=' + data + '">卡二维码</a>';
                }
            },
            {
                "targets": -2,
                "width": "74px",
                render: function (data, type, full, meta) {
                    return '<a class="btn btn-sm btn-info" href="/ElectronicCard/Consumption?ElectronicId=' + data + '">卡消费记录</a>';
                }
            }]
        });
        //查询按钮
        $("#search").click(function () {
            userTable.api().ajax.reload();
        });
       
    });

</script>
