
@{
    ViewBag.Title = "MemberView";
    Layout = "~/Views/Shared/LeftPartPage.cshtml";
}

@section TitleName{
    <li>会员卡管理</li>
    <li class="active"><a href="../MemberManage/Index">添加新类型卡</a></li>
    <li class="active">查看已生成卡片</li>
}


@section js{
    <script src="~/Content/js/Shade.js"></script>
    <script src="~/Content/js/MemberCard/Index.js"></script>

@*<script src="~/Content/js/DateTime/jquery-1.11.0.min.js"></script>*@
    @*<script src="~/Content/js/DateTime/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Content/js/DateTime/jquery-ui-timepicker-addon.js"></script>*@
    @*<script src="~/Content/js/DateTime/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Content/js/DateTime/jquery.ui.datepicker-zh-CN.js"></script>*@
}

@section css{
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTable.css" rel="stylesheet" />
    <link href="~/Content/css/Shade.css" rel="stylesheet" />

@*<link href="~/Content/css/DateTime/admin.css" rel="stylesheet" />
<link href="~/Content/css/DateTime/jquery-ui.css" rel="stylesheet" />*@
}

<input type="hidden" id="Hidden_MemberShipCard" value="@ViewBag.MemberShipTypeId" />
<section>
    <div class="row">
        <div style="width:100%">
            <div class="form-group col-lg-12">
                <div class="col-lg-2 pull-right">
                    <button id="search" class="btn btn-warning pull-right" type="button"><i class="fa fa-search"></i> 搜 索</button>
                    <input type="text" placeholder="请输入搜索内容" id="search-Input" class="form-control pull-right Search-Input">
                </div>
                <div class="col-lg-2 pull-left">
                    <button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#modalSuccess" id="insert">
                        <i class="glyphicon glyphicon-plus"></i> 添加会员卡
                    </button>
                </div>
            </div>
            <table id="User" class="col-lg-12 table table-striped table-bordered" data-page-length="10" data-order="[[0,&quot;asc&quot;]]" width="100%">
                <thead>
                    <tr>
                        <th data-data="MemberShipCardId" data-visible="false">会员卡Id</th>
                        <th data-orderable="false">
                            <div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light">
                                <input type="checkbox" id="checkbox-all" />
                                <label for="checkbox-all"></label>
                            </div>
                        </th>
                        <th data-data="CardName">会员卡名</th>
                        <th data-data="UserNickName">绑定人</th>
                        <th data-data="ReleaseDate">激活日期</th>
                        <th data-data="IsUser">是否被使用</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        var userTable = $('#User').dataTable({
            "ajax": {
                "url": "@Url.Action("Get_Card_List", "MemberCardAjax")",
                "data": function (data) {
                    //添加额外的参数传给服务器
                    data.SearchKey = $("#search-Input").val();
                    data.MemberShipTypeId = $("#Hidden_MemberShipCard").val();
                    return JSON.stringify(data);
                }
            },
            "bLengthChange": false,
            "iDisplayLength": 5,
            "columnDefs": [
            {
                "targets": 1,
                "width": "15px",
                render: function (data, type, full, meta) {
                    var num = meta.row + 1;
                    return '<div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light"><input type="checkbox" id="checkbox-all-' + num + '" value="' + num + '" /><label for="checkbox-all-' + num + '"></label></div>';
                }
            }]
        });
        //查询按钮
        $("#search").click(function () {
            userTable.api().ajax.reload();
        });
        //点击添加按钮弹出窗体
        $("#insert").click(function () {
            InsertMemberCard();
        });
        $("#Insert_MemberCard").click(function () {
            var MemberShipTypeId = $("#Hidden_MemberShipCard").val();
            Insert_MemberCard(MemberShipTypeId);
        })
    });

</script>
<script>
    $(function () {
        $("#btn_file").click(function () {
            $("#files").trigger("click");
        });
    });

</script>
<div class="box">
    <div id="dialogBg"></div>
    <div id="dialog" class="animated">
        <img src="~/Content/image/Shade/ico.png" class="dialogIco" width="50" height="50" />
        <div class="dialogTop">
            <a href="javascript:;" class="claseDialogBtn"><i class="fa fa-close"></i></a>
        </div>
        <form action="" method="post" id="editForm">

            <table>
                <colgroup>
                    <col style="width:30%;" />
                    <col style="width:70%;" />
                </colgroup>
                <tr>
                    <td class="Label">
                        卡名称：
                        <input type="hidden" id="CardName_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="CardName" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        卡密：
                        <input type="hidden" id="CardPassword_Hidden" />
                    </td>
                    <td>
                        
                        <input type="password" id="CardPassword" value="" class="ipt" />
                    </td>
                </tr>
                @*<tr>
                    <td class="Label">
                        日期：
                        <input type="hidden" id="CreateDate_Hidden" />
                    </td>
                    <td>

                        <input type="text" id="CreateDate" value="" class="ipt" />
                    </td>
                </tr>*@
                <tr>
                    <td colspan="2" class="submit">
                        <input id="Insert_MemberCard" type="button" onclick="" value="添加会员卡" class="submitBtn" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>



