
@{
    ViewBag.Title = "LevelIndex";
    Layout = "~/Views/Shared/LeftPartPage.cshtml";
}

@section TitleName{
    <li>会员等级管理</li>
    <li class="active"><a href="../ElectronicCard/Index">各类会员等级</a></li>
}


@section js{
    <script src="~/Content/js/Shade.js"></script>
    <script src="~/Content/js/MembershipLevel/Index.js"></script>
}

@section css{
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTable.css" rel="stylesheet" />
    <link href="~/Content/css/Shade.css" rel="stylesheet" />

}

<section>
    <div class="row">
        <div style="width:100%">
            <div class="form-group col-lg-12">
                <div class="col-lg-2 pull-right">
                    <button id="search" class="btn btn-warning pull-right" type="button"><i class="fa fa-search"></i> 搜 索</button>
                    <input type="text" placeholder="请输入搜索内容" id="search-Input" class="form-control pull-right Search-Input">
                </div>
                <div class="col-lg-2 pull-left">
                </div>
            </div>
            <table id="MembershipLevel" class="col-lg-12 table table-striped table-bordered" data-page-length="10" data-order="[[0,&quot;asc&quot;]]" width="100%">
                <thead>
                    <tr>
                        <th data-data="MembershipLevelId" data-visible="false">会员等级Id</th>
                        <th data-orderable="false">
                            <div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light">
                                <input type="checkbox" id="checkbox-all" />
                                <label for="checkbox-all"></label>
                            </div>
                        </th>
                        <th data-data="LevelName">等级名称</th>
                        <th data-data="NeedThing">下一等级所需物品</th>
                        <th data-data="LevelMax">下一等级所需数目</th>
                        <th data-data="MembershipLevelId" style="border-left:none;border-right:none;text-align:center" data-orderable="false">操作</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        var userTable = $('#MembershipLevel').dataTable({
            "ajax": {
                "url": "@Url.Action("Get_MemberShipLevelList", "MemberShipLevelAjax")",
                "data": function (data) {
                    //添加额外的参数传给服务器
                    data.SearchKey = $("#search-Input").val();
                   
                    return JSON.stringify(data);
                }
            },
            "columnDefs": [
            {
                "targets": 1,
                "width": "15px",
                render: function (data, type, full, meta) {
                    var num = meta.row + 1;
                    return '<div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light"><input type="checkbox" id="checkbox-all-' + num + '" value="' + num + '" /><label for="checkbox-all-' + num + '"></label></div>';
                }
            },
            {
                "targets": -1,
                "width": "235px",
                render: function (data, type, full, meta) {
                    return '<a class="btn btn-sm btn-info" href="/MemberShipLevel/LevelCouponPage?MembershipLevelId=' + data + '">等级优惠信息</a>' + '<a class="btn btn-sm btn-info" href="javascript:;" onclick="modify(' + data + ')">修改等级所需条件</a>';
                
            },
               
    
            }]
        });
        //查询按钮
        $("#search").click(function () {
            userTable.api().ajax.reload();
        });

    });

</script>
<div class="box">
    <div id="dialogBg"></div>
    <div id="dialog" class="animated">
        <img src="~/Content/image/Shade/ico.png" class="dialogIco" width="50" height="50" />
        <div class="dialogTop">
            <a href="javascript:;" class="claseDialogBtn"><i class="fa fa-close"></i></a>
        </div>
        <form action="" method="post" id="editForm">
            <input type="hidden" id="LevelMin" value="" class="ipt" />
            <table>
                <colgroup>
                    <col style="width:30%;" />
                    <col style="width:70%;" />
                </colgroup>
                <tr>
                    <td class="Label">
                        等级名称：
                        <input type="hidden" id="LevelName_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="LevelName" value="" class="ipt" />
                    </td>
                </tr>  
                @*<tr>
                    <td class="Label Label_TextArea">
                        下一等级所需物品:
                        <input type="hidden" id="NeedThingx_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="NeedThing" value="" class="ipt" />
                    </td>
                </tr>*@
                <tr>
                    <td class="Label Label_TextArea">
                        下一等级所需数目:
                        <input type="hidden" id="LevelMax_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="LevelMax" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="submit">
                        <input id="Modify_MemberShipLevel" type="button" onclick="" value="修改等级信息" class="submitBtn" />
                    </td>
                </tr>
            </table>
           
        </form>
    </div>
</div>

