@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LeftPartPage.cshtml";
}

@section TitleName{
    <li>用户管理</li>
    <li class="active">会员列表</li>
}

@section js{

    <script src="~/Content/js/Shade.js"></script>
    @*<script src="~/Content/js/User/Index.js"></script>*@
    <script src="~/Content/js/User/Index.js"></script>
}

@section css{
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTable.css" rel="stylesheet" />
    <link href="~/Content/css/User/Index.css" rel="stylesheet" />
    <link href="~/Content/css/Shade.css" rel="stylesheet" />
}

@section Li_User
{
    active
}

<section>
    <div class="row">
        <div style="width:100%">
            <div class="form-group col-lg-12">
                <div class="col-lg-2 pull-right">
                    <button id="search" class="btn btn-warning pull-right" type="button"><i class="fa fa-search"></i> 搜 索</button>
                    <input type="text" placeholder="请输入搜索内容" id="search-Input" class="form-control pull-right Search-Input">
                </div>
                <div class="col-lg-2 pull-left">
                    <button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#modalSuccess" id="insert">
                        <i class="glyphicon glyphicon-plus"></i> 添加数据
                    </button>
                </div>
            </div>
            <table id="User" class="col-lg-12 table table-striped table-bordered" data-page-length="10" data-order="[[0,&quot;asc&quot;]]" width="100%">
                <thead>
                    <tr>
                        <th data-data="UserId" data-visible="false">用户Id</th>
                        <th data-orderable="false">
                            <div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light">
                                <input type="checkbox" id="checkbox-all" />
                                <label for="checkbox-all"></label>
                            </div>
                        </th>
                        <th data-data="UserName">用户名称</th>
                        <th data-data="UserNickName">用户昵称</th>
                        <th data-data="UserPhone">用户手机</th>
                        <th data-data="UserEmail">用户邮箱</th>
                        <th data-data="Sex">性别</th>
                        <th data-data="ConsumptionTime">购买次数</th>
                        <th data-data="UserId" style="border-right:none;" data-orderable="false"></th>
                        <th data-data="UserId" style="border-left:none;border-right:none;text-align:center" data-orderable="false">操作</th>
                        <th data-data="UserId" style="border-left:none;" data-orderable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        var userTable = $('#User').dataTable({
            "ajax": {
                "url": "@Url.Action("Get_User_List", "UserAjax")",
                "data": function (data) {
                    //添加额外的参数传给服务器
                    data.SearchKey = $("#search-Input").val();
                    return JSON.stringify(data);
                }
            },
            "columnDefs": [
            {
                "targets": 1,
                "width": "15px",
                render: function (data, type, full, meta) {
                    var num = meta.row + 1;
                    return '<div class="checkbox3 checkbox-success checkbox-check checkbox-round  checkbox-light"><input type="checkbox" id="checkbox-all-' + num + '" value="' + num + '" /><label for="checkbox-all-' + num + '"></label></div>';
                }
            },
            {
                "targets": -1,
                "width": "62px",
                render: function (data, type, full, meta) {
                    return '<a class="btn btn-sm btn-info" href="javascript:;" onclick="modify(' + data + ')">修改</a>';
                }
            },
            {
                "targets": -2,
                "width": "86px",
                render: function (data, type, full, meta) {
                    return '<a class="btn btn-sm btn-info" href="/User/Consumption?UserId=' + data + '">消费记录</a>';
                }
            },
            {
                "targets": -3,
                "width": "74px",
                render: function (data, type, full, meta) {
                    return '<a class="btn btn-sm btn-info" href="/User/Coupon?UserId=' + data + '">优惠卷</a>';
                }
            }]
        });
        //添加用户信息
        $("#Add_User").click(function () {
            InsertUserInfo();
        });
        //查询按钮
        $("#search").click(function () {
            userTable.api().ajax.reload();
        });
        $("#insert").click(function () {
            add();
        });
    });
</script>

<div class="box">
    <div id="dialogBg"></div>
    <div id="dialog" class="animated">
        <img src="~/Content/image/Shade/ico.png" class="dialogIco" width="50" height="50" />
        <div class="dialogTop">
            <a href="javascript:;" class="claseDialogBtn"><i class="fa fa-close"></i></a>
        </div>
        <form action="" method="post" id="editForm">

            <table>
                <colgroup>
                    <col style="width:30%;" />
                    <col style="width:70%;" />
                </colgroup>
                <tr>
                    <td class="Label">
                        用户名称：
                        <input type="hidden" id="UserName_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="UserName" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        用户昵称：
                        <input type="hidden" id="UserNickName_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="UserNickName" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        用户手机：
                        <input type="hidden" id="UserPhone_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="UserPhone" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        用户邮箱：
                        <input type="hidden" id="UserEmail_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="UserEmail" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        性别：
                        <input type="hidden" id="Sex_Hidden" />
                    </td>
                    <td class="radio_td">
                        <div class="radio3 radio-check radio-success radio-inline">
                            <input type="radio" id="Sex-Man" name="sex" value="1">
                            <label for="Sex-Man">
                                男
                            </label>
                        </div>
                        <div class="radio3 radio-check radio-success radio-inline">
                            <input type="radio" id="Sex-WoMan" name="sex" value="0">
                            <label for="Sex-WoMan">
                                女
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        购买次数：
                        <input type="hidden" id="ConsumptionTime_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="ConsumptionTime" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="submit">
                        <input id="Modify_User" type="button" onclick="" value="修改用户信息" class="submitBtn" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="box1">
    <div id="dialogBg"></div>
    <div id="dialog" class="animated">
        <img src="~/Content/image/Shade/ico.png" class="dialogIco" width="50" height="50" />
        <div class="dialogTop">
            <a href="javascript:;" class="claseDialogBtn"><i class="fa fa-close"></i></a>
        </div>
        <form action="" method="post" id="editForm"> 
            <table>
                <colgroup>
                    <col style="width:30%;" />
                    <col style="width:70%;" />
                </colgroup>
                <tr>
                    <td class="Label">
                        用户名称：
                        <input type="hidden" id="UserName_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="UserName" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        用户昵称：
                        <input type="hidden" id="UserNickName_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="UserNickName" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        用户手机：
                        <input type="hidden" id="UserPhone_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="UserPhone" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        用户邮箱：
                        <input type="hidden" id="UserEmail_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="UserEmail" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        性别：
                        <input type="hidden" id="Sex_Hidden" />
                    </td>
                    <td class="radio_td">
                        <div class="radio3 radio-check radio-success radio-inline">
                            <input type="radio" id="Sex-Insert-Man" name="sex-insert" value="1">
                            <label for="Sex-Insert-Man">
                                男
                            </label>
                        </div>
                        <div class="radio3 radio-check radio-success radio-inline">
                            <input type="radio" id="Sex-Insert-WoMan" name="sex-insert" value="0">
                            <label for="Sex-Insert-WoMan">
                                女
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="Label">
                        购买次数：
                        <input type="hidden" id="ConsumptionTime_Hidden" />
                    </td>
                    <td>
                        <input type="text" id="ConsumptionTime" value="" class="ipt" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="submit">
                        <input id="Add_User" type="button" onclick="" value="新增用户信息" class="submitBtn" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>