<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--阿里云KeyId-->
    <add key="AliyunAccessKeyId" value="LTAIzkFFbIQJIljU" />
    <!--阿里云秘钥-->
    <add key="AliyunAccessKeySecret" value="KAuo35J25OFT1Ir0fIdcuO47yaPXzt" />
    <!--阿里云Title-->
    <add key="AliyunSignName" value="阿里云短信测试专用" />
    <!--Md5加密Key-->
    <add key="AppMd5Key" value="GZRYVillage" />
    <add key="ConnString" value="Data Source = 106.14.218.31,1439;Initial Catalog = health; User ID = sa;Password = sun@99ddipok8;" />
    <add key="CacheOutTime" value="0" />
    <add key="BaiDuAK" value="N3VxQPm4CRqm7odgrMuopqIWoMRPqesL" />
    <add key="SeachRange" value="500000000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
  </appSettings>
</configuration>