@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>古早日月村</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/lib/css/alert.css" />
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/themes/flat-blue.css">
    <!-- Javascript Libs -->
    <script type="text/javascript" src="~/Content/lib/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/Chart.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/ace/ace.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/ace/mode-html.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/ace/theme-github.js"></script>
    <script type="text/javascript" src="~/Content/lib/js/alert.js"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="~/Content/js/ajax.js"></script>
    <script type="text/javascript" src="~/Content/js/app.js"></script>
    <script type="text/javascript" src="~/Content/js/Login/Index.js"></script>
    
</head>
<body class="flat-blue login-page">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <img src="~/Content/img/title.png" />
                        <h4 class="login-title">古早日月村</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="login-body">
                            <div class="progress hidden" id="login-progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Log In...
                                </div>
                            </div>
                            <form>
                                <div class="control">
                                    <input id="UserName" type="text" class="form-control" placeholder="请输入用户名" />
                                </div>
                                <div class="control">
                                    <input id="PassWord" type="password" class="form-control" placeholder="请输入密码" />
                                </div>
                                <div class="control">
                                    <input type="text" class="form-control" placeholder="请输入验证码" />
                                </div>
                                <div class="login-button text-center">
                                    <input type="button" onclick="LoginOn()" class="btn btn-primary" value="登入">
                                </div>
                            </form>
                        </div>
                        <div class="login-footer">
                            <span class="text-right"><a href="#" class="color-white">Forgot password?</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
